$peach: #fed6bc;
$light-orange: #d89569;
$lemon-cream: #fffadd;
$black: rgba(0, 0, 0, 0.3);
$dark-grey: rgba(255, 255, 255, 0.3);
$dirty-brown: rgb(48, 48, 48);

$turquoise-green100: #1e5945;
$turquoise-green80: rgba(30, 89, 69, 0.8);
$turquoise-green60: rgba(30, 89, 69, 0.6);
$turquoise-green40: rgba(30, 89, 69, 0.4);
$turquoise-green20: rgba(30, 89, 69, 0.2);
$grandma-apples100: #a8e4a0;
$grandma-apples80: rgba(168, 228, 160, 0.8);
$grandma-apples60: rgba(168, 228, 160, 0.6);
$grandma-apples40: rgba(168, 228, 160, 0.4);
$grandma-apples20: rgba(168, 228, 160, 0.2);
$green-tea100: #d0f0c0;
$green-tea80: rgba(208, 240, 192, 0.8);
$green-tea60: rgba(208, 240, 192, 0.6);
$green-tea40: rgba(208, 240, 192, 0.4);
$green-tea20: rgba(208, 240, 192, 0.2);
